#tdsnotify {
    position: relative;
    z-index: 8888;
}

.noshow {
    display: none;
}
#tdsnotify .bgstyle {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1501;
    background: rgba(0,0,0,.8);
    opacity: 2;
    filter: alpha(opacity=2);
}

#tdsnotify img {
    position: fixed;
    left: 318px;
    z-index: 9999;
    top: 126px;
}
